<html>
    <head>
        <title>Starbucks Main</title>
        <link href="../static/img/R3.ico" rel="icon">
    </head>

    <body>
        {% extends 'layout.html' %}
        {% block content %}
        <!-- header -->
        <header class="navbar-fixed-top">
            <nav>
                <ul>
                    <li><a href="/"><i class="fa fa-fw fa-home"></i></a></li>
                    <li><a href="#home-starbucks">front</a></li>
                    <li><a href="#project-starbucks">process</a></li>
                </ul>
            </nav>
          </header>
        <!-- ./header -->

        <!-- home -->
        <div class="section" id="home-starbucks" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="disply-table">
                    <div class="table-cell" data-aos="fade-up" data-aos-delay="0">
                        <h4>Rain Dalio</h4>
                        <h1>Starbucks Analysis&<br/> Data Analysis and Data Science</h1>
                        <br/>
                        <br/>
                        <div style="position:relative, right:40px" data-aos="fade-up"> 
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <!-- ./home -->

        <!-- project list  -->
        <div class="section" id="project-starbucks">
            <div class="container">
                <div class="col-md-12">
                <br/>
                    <h4>02</h4>
                    <h1 class="size-50">Project <br /> Process</h1>
                    <div class="col-md-12">
                        <ul class="timeline">
                            <li class="timeline-event" data-aos="fade-up">
                                <label class="timeline-event-icon"></label>
                                <div class="timeline-event-copy">
                                    <p class="timeline-event-thumbnail">July 2022 - Present</p>
                                    <h3>Machine Learning</h3>
                                    <h4>Classification | Cluster</h4>
                                    <p><strong>Projektmanagement mit Scrum</strong>
                                        <br>Ständiges Verbessern des agilen Entwicklungsprozesses beispielsweise durch Grunt, Yeoman, GIT, JIRA und BrowserStack.</p>
                                </div>
                            </li>
                            <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
                                <label class="timeline-event-icon"></label>
                                <div class="timeline-event-copy">
                                    <p class="timeline-event-thumbnail">June 2022 - July 2022</p>
                                    <h3>Data Analysis</h3>
                                    <h4>Designer und Autor</h4>
                                    <p><strong>Using data analysis:</strong><br>
                                        1. The distribution of age, income and membership time of users who complete orders<br>
                                        2. Define high-frequency users and observe the distribution of high-frequency users<br>
                                        <a href='/starbucks-main/starbucks-analysis'>➡ See Details</a>
                                    </p>
                                </div>
                            </li>
                            <li class="timeline-event" data-aos="fade-up" data-aos-delay=".4">
                                <label class="timeline-event-icon"></label>
                                <div class="timeline-event-copy">
                                    <p class="timeline-event-thumbnail">May 2022 - June 2022</p>
                                    <h3>Gather & Wrangle Data</h3>
                                    <h4>IT-Consultant</h4>
                                    <p><strong>Systemarchitektur, Consulting</strong>
                                        <br>Konzeption und Modellierung von Systemen und APIs für Digital Publishing und Entitlement nach SOA</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- ./project list -->
            
    {% endblock %}
    </bdoy>
</html>
